sentence-transformers
langchain
streamlit
transformers
requests
nltk
spacy
datasets
faiss-cpu
pandas
sentencepiece
torch
accelerate
transformers[torch]
qdrant-client
gradio
optuna
rouge-score
evaluate
scikit-learn
langchain-qdrant
huggingface_hub
python-dotenv