#sentence-transformers
#uvicorn
#ctransformers
langchain
#python-box
streamlit
transformers
requests
nltk
spacy
datasets
faiss-cpu
pandas
sentencepiece
torch
accelerate
transformers[torch]
